.navbar-toggler {
    border: none !important;
    padding-left: 20px !important;
    padding-bottom: 20px !important;
}

.navbar-nav .nav-link {
    padding-left: 20px !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-nav a {
    all: unset;
    cursor: pointer;
    color: rgba(255,255,255,.55);
    padding: 7px;
    padding-left: 20px;
}

.navbar-nav a:hover {
    color: white;
}

